@using Microsoft.AspNetCore.Components.Authorization
@using QLVN_Blazor.Layout
@using System.Reflection

<CascadingAuthenticationState>
    <Router AppAssembly="@Assembly.GetExecutingAssembly()">
        <Found Context="routeData">
           
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        @* Nếu chưa login thì chuyển hướng trang*@
                        <RedirectToLogin />
                    }
                    else
                    {
                        @* Phân quyền về sau *@
                        <div class="container mt-5">
                            <div class="alert alert-danger">Bạn không có quyền truy cập trang này.</div>
                        </div>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>